.wrapper {
    border: 1px solid #000;
    height: 300px;
    margin: 20px auto;
    width: 600px;
}
.wrapper .block-left {
  background: #bbb none repeat scroll 0 0;
  height: 120px;
  width: 200px;
  float:left;
  border: 2px solid red;
}
.wrapper .block-right {
    background: none repeat scroll 0 0 pink;
    height: 120px;
    width: 392px;
	float:right;
	border:2px solid green;
}
.clear{
	clear:both;
}

