.body{
    margin: 30px;
}
.clr{
    clear: both;
    border: 1px dashed #B2B2B2;
    position: relative;
    top: 10px;
}

.leader{
    background: url("images/bullet1.gif") no-repeat;
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 9px;
}
.leader h1{
    position: relative;
    top: -8px;
    display: inline;
    font-size: 19px;
    color: #9e4f3e;
    font-family: arial;
}
.body ul li{
    font-family: arial;
    margin-top: 20px;
    width: 700px;
    line-height: 20px;
    color: #a81f22
}
.body ul li h2{
    padding-bottom: 5px;
    font-size: 16px;
    color: #A81F22;
    font-weight: bold;
}
.body ul li img{
    width: 164px;
    height: 115px;
    float: left;
    border: 2px solid #BBBBBB;
    padding: 2px;
    border-radius: 10px;
}
.note{
    float: right;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    width: 500px;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    font-size: 14px;
    text-align: justify;
}
.note input{
    position: relative;
    right: -390px;
    bottom: -8px;
    background-color: #961B1E;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px;
}