 .thoitrang{
                background: #833B74;
                width: 200px;
                font-family: tahoma;
                font-size: 13;
            }
            .hoahau{
                padding:  10px; 
                
            }
            .style{
                padding:  10px; 
            }
            .hoahau1{
                text-decoration: none;
                color: white;
            }